<header>
<nav class="container color">
 <a href="" class="logo">Portfólio</a>

 <div class="links">
    
<ul>
<li>
    <a href="#home" class="nav-link">Home</a>
</li>

<li>
    <a href="#about"  class="nav-link">Sobre</a>
</li>

<li>
    <a href="#services" class="nav-link"    >Serviços</a>
</li>

<li>
    <a href="#portfolio"  class="nav-link">Portfólio</a>
</li>

<li>
    <a href="#contact" class="nav-link">Contatos</a>
</li>
<i class="fa fa-moon-o" ></i>




</ul>
</div>



</nav>


  
</header>
