
body{
  height: 100vh;
}
.tam-f {
    font-size: larger;
}
.back {
    background-image:  url("https://img.freepik.com/fotos-gratis/fundo-rosa-aquarela-design-abstrato-de-papel-de-parede-movel_53876-145674.jpg?w=2000");
    min-height: 605px;
    background-position: center;
   
    background-size: cover;
}



.card {

 border-radius: 15%;
 padding: 30px;
 width: 55rem;
 height: 35rem;
 margin-left: 0;
 margin-bottom: 10rem;
 

 box-shadow: 60px -16px #76a6d3;
 
 

 

}
.mb-3 {
  color: #009EFF;
}

span {
    position: absolute;
    margin-left: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(42, 56, 165, 0.579);
  }

  .form-group .form-control {
    padding-left: 2.375rem;
  }

  .imagem {
    width: 32rem;
 
  
  }
 .color{
  background-color: #0f7ec2;
 }
 @media (min-width:950px) and (max-width:1024px) {
  .card{
    
    margin-bottom: 6rem;

  }

.imagem {
  width: 26rem;
}


 }


 @media (min-width:790px) and (max-width:949px){
   .imagem{
    width: 20rem;
   }
   .card {
    margin-bottom: 3rem;
   }

 }

 @media (min-width:500px) and (max-width:789px) {
  .imagem{
    display: none;
  }
  .card {
    width: 25rem;
  }
 }