@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');


.cad-text{
    font-family: 'Poppins', sans-serif;
 font-weight: 500;
 
}



.button1 {
    
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #FB2576);
    border: none;
    margin-left: 20px;
    
    
  
}

.button2 {
position: relative;
display: inline-block;
padding: 12px 36px;
margin: 10px 0;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
letter-spacing: 1px;
border-radius: 40px;
 background: linear-gradient(90deg, #0162c8,  #835ca3);
 border: none;
margin-left: 30px;
  
}


.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
     height: 130vh;
width: 100vw; 
    background: linear-gradient(45deg, #07b3bf, #0E3EDA, #FFBDE6, #0E3EDA );
   
    background-size: 300% 300%;
    animation: colors 15s forwards infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.color1 {
    background-color: white;
    opacity:0.9;
    border-radius: 25px;
}
.form-box {
    backdrop-filter: blur(40px);
    padding: 0 70px;
    padding-bottom: 30px;

    border-radius: 20px;
    margin: auto;
    opacity: 0.9;
}

span {
    position: absolute;
    margin-left: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(42, 56, 165, 0.579);
  }
  .form-group .form-control {
    padding-left: 2.375rem;
  }


.mr-4 {
    margin-right: 30px;
}

img{
    width: 70%;
    margin-bottom: 40rem;
}


