<div class="container-fluid">
    <div  class="row gradient">
      
  
 
      <div class="col-md-8 d-flex justify-content-center">
       <div class="form-row mt-5 mb-5 ">
          <div class="card d-flex justify-content-center color1 form-box">
          <h3 class="text-center cad-text mt-5">Cadastro</h3>
          <hr>
        
          <form>
             <div class="row">
 
               <div class="col-md-6"> <div class="form-group">
                <label for="nome" >Nome :</label>
               <span class="fa fa-user"></span>
                <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome" class="form-control" placeholder="Seu nome"></div></div>
               
       
       
       
       
          <div class="col-md-7">
             <div class="form-group ">
                <label for="usuario" >Usuário :</label>
                <span class="fa fa-envelope"></span>
                <input  [(ngModel)]="usuario.usuario"  class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu email"></div>
       </div>
          </div>
                  
          
 
 
                <div class="form-group">
                   <label for="foto" >Link da foto:</label>
                   <span class="fa fa-camera"></span>
                   <input  [(ngModel)]="usuario.foto"   class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto"></div>
  
 
                   <div class="form-group">
                      <label for="senha" >Senha:</label>
                      <span class="fa fa-lock"></span>
                      <input  (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha"></div>
 
 
                      <div class="form-group">
                         <label for="confirSenha" >Confirmar senha:</label>
                         <span class="fa fa-lock"></span>
                         <input  [(ngModel)]="usuario.senha"  class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha"></div>
 
 
                         
                         
 
                             <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="button1" routerLink='/login'>Cancelar</button>
                                <button  type="submit" class="button2" (click)="cadastrar()" > Cadastrar</button></div>
 
 
 
                               </form>

                               
       </div>
      
    </div>
   
         
         
      
         </div>

     
 
 
 
 
 
 
 
   
  
      </div>
  
  
      
  
    </div>
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 