.fa{
    font-size: 14pt;
}
.buttonsair {
    
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #FB2576);
    border: none;
    margin-left: 1100px;}


.colorbotton {
  background-color: #0162c8;
}
.t-azul{
    color: #23405B;
}
.modal{
  z-index: 100000;
}

.borda{
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
}

.like{
  margin-left: 5px;
  margin-bottom: 5px;
}

.btn{
  text-align: left !important;
}

.card.dark-theme{
  --bkg-color: #111;
}

.card{
  --bkg-color: #fff;
}

.card{
  background-color: var(--bkg-color) !important;
}

.font-theme{
  --bkg-color: #23405B;
}

.font-theme.dark-theme{
  --bkg-color: #98E3AD;
}

.font-theme{
  color: var(--bkg-color) !important;
}

.texto-div{
  position: relative;
}

#wordcounter{
  position:absolute;
  bottom: 10px;
  right:10px;
  font-size: 12px;
  color:gray;
}

/* .pd-comentario{
  position:absolute;
} */
.color-comentario{
  /* background-color: #98E3AD; */
  border-style: solid;
  border-radius: 10px;
  border: 1px dashed gray;
}
.emoticons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 1rem;
 
  
}
.emoticons i {
  font-size: 18pt;
}
.fa-camera {
  color: #FB2576;
  
  
}

.fa-music {
  color: #0162c8;
}
.fa-face-grin-wide {
  color: yellow;
}

.fa-paperclip {
  color: greenyellow;
}
.fa-flag{
  color: orange ;
}

.fa-github:hover {
  color: #0162c8;
}

