@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

@media (min-width:576px) and (max-width: 768px) {

    body {
        background-color: red;
    }
     .imagem-inicio , .img-cel{
    display: none;
   }
   .animated{
   margin-right: 40rem;
    height: 10rem;
   }

}
@media (min-width:768px) and (max-width:992px) {
    
  
    body{
        background-color: #0002A1;
    }

    svg{
        width: 98%;
    }
}

*{
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
   justify-content: center;
   font-family: 'Poppins', sans-serif; 
}


svg {
    width: 98.84%;
}


.separartopo{
    height: 4em;
  }

  .separar {
    height: 7rem;
  }



  body{
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%);

}





































/*-----------> Header ----------------*/
a{
    text-decoration: none;
}
ul {
    list-style: none;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.logo {
   
    margin-right: 17rem;
    font-family:  'Nerko One', cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    color: black;
    padding: auto;
    cursor: pointer;
    
}




.containerheader {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
    margin: auto;
    max-width: 80rem;
   
    
    
    }

    .links{
        flex: 1;
        display: flex;
        justify-content: space-between;
        color: black;
       
        
        
        
    }

    .links li:hover {
        transform: scale(1.1);
      color: #0096FF;
    
    }

    .links ul{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nav-link {
        position: relative;
        display: inline-block;
        margin: 0 1rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        color: var(--text-color);
        font-weight: 500;
        opacity: 0.9;

    }
  .nav-link::after{
    content: "";
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  .nav-link:hover{
    color: var(--heading-color);
  }

  .nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
  }

  .botao-entrar{
    border: none;
    opacity: 0.7;
    padding: 15px;
    margin-left: 20px;
    background-color: #0002A1;
    color: whitesmoke;
  }

/*-----------> Fim  Header ----------------*/




/*---------> BLOCO 1 -----------------*/

.container {
    height: 16rem;
   }
 
   .imagem-inicio {
    width: 90%;
    justify-content: center;
    margin-left: 10rem ;
    margin-top: 1rem ;
}
.imagem-inicio:hover{
    transform: scale(1.1);
    
}
.texto-2{
    margin-bottom: 9rem;
   
}
.color{
    background-color: #fff;
}
.animated {
    width: 25rem;
    margin-left: 2rem;
    
   
}


.wave  {
        width: 78rem;
       }

.font{
    font-size: 20px;
    color: orange;
    margin-left: 7rem;
}


/*------------------BLOCO 2 -----------------*/

.bloco-2{
    background-color:  #2A3990;
     width: 100%;
    height:20rem;
    }



    /*------------------BLOCO 3 -----------------*/

    .cor {
        color: #07b3bf;
      }
      .mb {
        margin-bottom: 4rem;
      }
        
 .bloco4 {
    width: 100%;
   justify-content: center;
   align-items: center;
    height: 38rem;
 }

 ul{
   list-style: none;
 }
 ul i {
    color: #2A3990;
    font-size: 20pt;
 }
 ul li :hover{
    transform: scale(1.1);
    
 }

 .lista2{
white-space: nowrap;

justify-content: center;
 }

.lista2 i {
    margin-right: 1rem;
}
.lista1 i {
    margin-left: 1rem;
}

 .lista1 {
    margin-left: 7rem;
 }

 .img-cel{
    width: 120%;
 }
 .img-cel:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);
 }

 
.font-1{
    font-size: 10px;
    color: black;
}
span{
    color: black;
}

    

/* ----------> Buttons <-------------- */
 
.button4:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);
}
.botao-entrar:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);
}
.button1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);
}
.button2:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);
}
.button3:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(189, 185, 185);

}


.botao-entrar{
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    margin: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc );
    margin-left: 1em;
    cursor: pointer;
}   


.button1 {
    
        position: relative;
        display: inline-block;
        padding: 12px 36px;
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        border-radius: 40px;
        background: linear-gradient(90deg, #0162c8, #FB2576);
        border: none;
        margin-left: 75px;
        cursor: pointer;
        
      
}
.button4{

    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #e5d188, #c6841a);
    border: none;
    margin-left: 75px;
    cursor: pointer;
    

}

.button3{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: linear-gradient(90deg, #0162c8,  #07b3bf);
     border: none;
   margin-left: 9rem;
  }

  .button2 {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: linear-gradient(90deg, #0162c8,  #835ca3);
     border: none;
    margin-left: 30px;
cursor: pointer;
    
      
  }

  .botao4{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: #22b2d3;
     border: none;
    margin-left: 30px;
    cursor: pointer;
  }












.line {
   
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    color: #0162c8;
    font-family: sans-serif;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Poppins', sans-serif; 
}

.typing-animation {
    animation : blinkCursor 500ms  normal, typing 4s steps(40) 1s normal;
} 

@keyframes typing {
    from{width: 0;}
    to{width: 20em;}
}


@keyframes blinkCursor{
    from{
      border-right-color: rgba (255, 255, 255, 0.75) ;
    }
    to {
        border-right-color:#f2f2f2;
    }
}

/*-------------------*/
 .card .image {
height: 140px;
width: 140px;
border-radius: 50%;
padding: 3px;
background-color: #3F0071;
}

.card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    }
.card {
background: #fff;
    border-radius: 20px;
    position: relative;
    margin: 20px 0;
    width: 280px;
}

.card::before {
 content: "";
 position: absolute;
 height: 40%;
 width: 100%;
 background-color: #7d2ae8;
 border-radius: 20px 20px 0 0;

}
.card .card-content {
  display: flex;
  flex-direction:row;
  align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;


}


.card .media-icons i:hover {
  opacity: 1;
}

.card .name-tec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
.name-tec   .name {

    font-size: 20px;
    font-weight: 600;
}

.name-tec .profession{
 font-size: 15px;
 font-weight: 500;

}



.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background-color: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background-color: #6616d0;
}

.cor-fundo{
    
    background-color:#fff;
  
}


/*---------------------------------*/
   

.backgroundcolor {
    background: #eeeff0;
   
}

.card-carrosel {
    height: 17rem;
    width: 20rem;
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 2%;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
   
    border-radius: 10%;
}
.card-carrosel i{
    font-size: 30pt;
}
.card2 {
    gap: 6rem;
 }
 
 .card-content {
   
    height: rem;
    width: 12rem;
    position: relative;
    margin: 0 2px;
 }

 .color-card1 {
    background-color: #009EFF;
 }
 .color-card2 {
    background-color: #FF8FB1;
 }
.color-card3{
    background-color: #554994;
}
.color-card4  {
    background-color: #66BFBF;
}

.color-card5 {
    background-color: #3CCF4E;
} 
.color-card6 {
    background-color: #0078AA;
}
.color-card7{
    background-color: #C499BA;
}
.color-card8{
    background-color: #FF7396;
}

.color-card9{
    background-color: #FAAB78;
}

 .fa-brands{
    font-weight: 100;
 }


 .card-carrosel .rating i {

    font-size: 15pt;
    margin: 0 2px;
    color: white;
}

















 




 /* --------- BLOCO 4   -------------*/

 .blocoazul {
    width: 100%;
    height:34rem;
    background-color:#2A3990;
    align-items: center;
    flex-wrap: nowrap;
    
 }
 

 .formulario{
  padding: 2rem;
    background: linear-gradient(45deg,#5800FF,
    #0096FF,
    #00D7FF
    );
    width: 1rem;
    height: 29rem;
    border-radius: 10%;
    background-size: 300% 300%;
    animation: colors 15s forwards infinite;
    margin-left: 1rem;
    
  
  
  
   
   
  
 }


 @keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

 .corinput {
    background: transparent;
    border: none;
 }


.botao4{
    margin-bottom: 60px;
}

.container span{
    color: orange;
}
textarea{
   
    border-radius: 5%;
}



.card-final {
    height: 15rem;
    width: 13rem;
    background-color: #ffffff   ;
    opacity: 0.9;
    border-radius: 5%;
    cursor: pointer;
   
    
   
}

.card-final:hover{
    transform: scale(1.1);
    box-shadow: 10px 5px 5px rgb(59, 101, 144);
}

.card-final i{
    font-size: 28pt;
   
    margin-top: 3rem;
    margin-bottom: 1rem;
    
}

.final {
    justify-content: space-between;
}

.fa-comments{
    color: #FB2576;
}

.fa-mug-saucer{
    color: #F7EC09;
} 
.fa-sharp {
    color: #3330E4;
}
.fa-handshake {
    color: #590696;
}



.svg-3 {
    margin-top: 10rem;
}

