@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');


*{
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
   justify-content: center;
   font-family: 'Poppins', sans-serif; 
}


.separartopo{
    height: 4em;
  }


  body{
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%);

}


.color{
    background-color: #fff;
}


































/*-----------> Header ----------------*/
a{
    text-decoration: none;
}
ul {
    list-style: none;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.logo {
   
    margin-right: 17rem;
    font-family:  'Nerko One', cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    color: black;
    padding: auto;
    
    
    
}
.containerheader {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
    margin: auto;
    max-width: 80rem;
   
    
    
    }

    .links{
        flex: 1;
        display: flex;
        justify-content: space-between;
        color: black;
       
        
        
        
    }

    .links ul{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nav-link {
        position: relative;
        display: inline-block;
        margin: 0 1rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        color: var(--text-color);
        font-weight: 500;
        opacity: 0.9;

    }
  .nav-link::after{
    content: "";
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  .nav-link:hover{
    color: var(--heading-color);
  }

  .nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
  }

  .botao-entrar{
    border: none;
    opacity: 0.7;
    padding: 15px;
    margin-left: 20px;
    background-color: #0002A1;
    color: whitesmoke;
  }

/*-----------> Fim  Header ----------------*/




/* ----------> Buttons <-------------- */

.botao-entrar{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc );
    margin-left: 1em;
    cursor: pointer;
}   


.button1 {
    
        position: relative;
        display: inline-block;
        padding: 12px 36px;
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        border-radius: 40px;
        background: linear-gradient(90deg, #0162c8, #FB2576);
        border: none;
        margin-left: 75px;
        cursor: pointer;
        
      
}
.button4{

    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #e5d188, #c6841a);
    border: none;
    margin-left: 75px;
    cursor: pointer;
    

}
  .button2 {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: linear-gradient(90deg, #0162c8,  #835ca3);
     border: none;
    margin-left: 30px;
cursor: pointer;
    
      
  }

  .botao4{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: #22b2d3;
     border: none;
    margin-left: 30px;
    cursor: pointer;
  }


  .cor {
    color: #07b3bf;
  }

  .separar {
    height: 150px;
  }
  
.mb {
    margin-bottom: 50px;
}

  .button3{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
     background: linear-gradient(90deg, #0162c8,  #07b3bf);
     border: none;
     margin-left: 20px;
  }




bloco3 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}






.line {
   
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 400px;
    font-family: 'Shadows Into Light', cursive;
    padding: 30px;
}

.typing-animation {
    animation : blinkCursor 500ms infinite normal, typing 4s steps(40) 1s normal;
} 

@keyframes typing {
    from{width: 0;}
    to{width: 20em;}
}


@keyframes blinkCursor{
    from{
      border-right-color: rgba (255, 255, 255, 0.75) ;
    }
    to {
        border-right-color:#f2f2f2;
    }
}



section .card .image {
height: 140px;
width: 140px;
border-radius: 50%;
padding: 3px;
background-color: #3F0071;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    }
.card {
background: #fff;
    border-radius: 20px;
    position: relative;
    margin: 20px 0;
    width: 280px;
}

.card::before {
 content: "";
 position: absolute;
 height: 40%;
 width: 100%;
 background-color: #7d2ae8;
 border-radius: 20px 20px 0 0;

}
.card .card-content {
  display: flex;
  flex-direction:row;
  align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;


}


.card .media-icons i:hover {
  opacity: 1;
}

.card .name-tec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
.name-tec   .name {

    font-size: 20px;
    font-weight: 600;
}

.name-tec .profession{
 font-size: 15px;
 font-weight: 500;

}
.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {

    font-size: 18px;
    margin: 0 2px;
    color: #7d2ae8;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background-color: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background-color: #6616d0;
}

.cor-fundo{
    
    background-color:#fff;
  
}



/*.containerr{
    height: 500px;
    width: auto;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    align-items: center;}*/

   .container {
    height: 250px;
   }
  


.animated {
    width: 350px;
    
   
}


.containerr2 {
    height: 400px;
    width: 100%;
    display: flex;
}
.font{
    font-size: 20px;
    color: orange;
    margin-left: 210px;
}

.font-1{
    font-size: 10px;
    color: black;
}
span{
    color: black;
}

.bola-laranja {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: orange;
    margin-right: 900px;
   
}
.bola-branca{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: white;
    margin-left: 1250px;
    margin-bottom: 50px;
    
}



.text-white{
color: white;
}
.foto1{
    margin-left: 30px;

}
.imagem-inicio {

   
    justify-content: center;
    margin-left: 150px ;
    margin-top: 70px ;
}



.bloco-2{
    background-color:  #2A3990;
     width: 1279px;
    height: 300px;
    
  
    
   
  
    
}

.wave {
    width: 100%;
}

.texto-2{
    margin-bottom: 150px;
   
}


 .texto-inicio {
    
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
    
 }

 

 /* ------------- BLOCO 4 ----------*/

 .bloco4 {
    width: 100%;
   justify-content: center;
   align-items: center;
    height: 600px;
 }

 ul{
   list-style: none;
 }
 ul i {
    color: #2A3990;
    font-size: 20pt;
 }

 .lista2{
white-space: nowrap;

justify-content: center;
 }

.lista2 i {
    margin-right: 15px;
}
.lista1 i {
    margin-left: 15px;
}

 .lista1 {
    margin-left: 110px;
 }

 .blocoazul {
    width: 100%;
    height:34rem;
    background-color:#2A3990;
    align-items: center;
    flex-wrap: nowrap;
    
 }


 /* --------- apresentação  -------------*/

 .formulario{
  padding: 2rem;
    background: linear-gradient(45deg,#5800FF,
    #0096FF,
    #00D7FF
    );
    width: 1rem;
    height: 29rem;
    border-radius: 10%;
    background-size: 300% 300%;
    animation: colors 15s forwards infinite;
    margin-left: 1rem;
    
  
  
  
   
   
  
 }


 @keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

 .corinput {
    background: transparent;
    border: none;
 }


.botao4{
    margin-bottom: 60px;
}

.container span{
    color: orange;
}
textarea{
   
    border-radius: 5%;
}

.onda3 {
    width: 78rem;
   
}

.card-final {
    height: 15rem;
    width: 13rem;
    background-color: rgb(251, 245, 245);
    opacity: 0.5;
    border-radius: 2%;
    cursor: pointer;
   
    
   
}

.card-final i{
    font-size: 28pt;
   
    margin-top: 3rem;
    margin-bottom: 1rem;
}






.final {
    justify-content: space-between;
}

.fa-comments{
    color: #FB2576;
}

.fa-mug-saucer{
    color: #F7EC09;
} 
.fa-sharp {
    color: #3330E4;
}
.fa-handshake {
    color: #590696;
}

.imagem-fim {
    margin:0;
    

}

.svg-3 {
    margin-top: 10rem;
}